@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

/* smooth scroll on non-touch devices */
@media (hover: hover) {
  * {
    scroll-behavior: smooth;
  }
}

/* add space above id when linking to one */
[id] {
  scroll-margin-top: min(10vh, 2.5rem);
}

/* --- FONT VARIABLES --- */
:root {
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

/* --- COLOR VARIABLES --- */
:root {
  --color-navy: #2E324A;
  --color-white: #F6F6F9;
  --color-red: #DA373E;
  --color-light-blue: #5F658B;
}

/* --- TEXT DEFAULT VALUES --- */
body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: var(--regular);
  line-height: 145%;
  color: var(--color-navy);
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: var(--bold);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 5rem;
  font-weight: var(--bold);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: var(--bold);
  line-height: 110%;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 2rem;
  font-weight: var(--semi-bold);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 1.25rem;
  font-weight: var(--bold);
  line-height: 110%;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 1.25rem;
  font-weight: var(--regular);
  line-height: 145%;
  letter-spacing: -0.025rem;
  padding: 0;
  margin: 0;
}

p {
  line-height: 145%;
  letter-spacing: -0.02rem;
  padding: 0;
  margin: 0;
}

a {
  font-size: 1.25rem;
  font-weight: var(--bold);
  line-height: 110%;
  color: var(--color-navy);
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* hover animation */
a:not(.exclude-hover):hover {
  color: var(--color-red);
  transition-duration: 0.2s;
  filter: brightness(0) saturate(100%) invert(31%) sepia(65%) saturate(1903%) hue-rotate(332deg) brightness(86%) contrast(98%) !important;
  transition-property: color;
}

/* --- TEXT DEFAULT VALUES END --- */



/* ---- HEADER ---- */

/* alignment */
header {
  width: 100%;
  height: 8.75rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  z-index: 2;
  position: relative;
}

.header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  padding: 2.5rem;
}

/* content */
.header-logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.75rem;
}

.header-wrapper nav a {
  padding: 0 1.875rem;
}

.header-wrapper nav a:last-child {
  padding: 0 0 0 1.875rem;
}

.external-link-icon {
  margin-left: 0.375rem;
}

/* -- Background Dropdown -- */
.header-background-wrapper {
  position: absolute;
  width: 100%;
  height: 8.75rem;
  z-index: 1;
}

.header-background {
  position: absolute;
  width: 100%;
  height: 0;
  transition-property: height;
  transition-duration: 0.5s;
  background-color: var(--color-white);
}

@media (hover: none) and (min-width: 993px) {
  .header-background {
    height: 8.75rem !important;
  }
}

/* -- Mobile Header -- */
.hamburger {
  display: none;
  filter: brightness(0) saturate(100%) invert(17%) sepia(47%) saturate(470%) hue-rotate(194deg) brightness(90%) contrast(90%);
  line-height: 0;
}

#map.hamburger {
  display: none;
  filter: brightness(0) saturate(100%) invert(17%) sepia(47%) saturate(470%) hue-rotate(194deg) brightness(90%) contrast(90%);
  line-height: 0;
  z-index: 999;
}

.hamburger img {
  height: 2.5rem;
  width: auto;
}

/* -- Background Dropdown -- */
.map-header a {
  color: var(--color-white) !important;
  z-index: 10 !important;
  position: relative;
}

.map-header .external-link-icon {
  filter: brightness(100);
}

#map-top-header {
  position: absolute;
}

/* ---- HEADER ENDS ---- */


/* ---- BODY ---- */

.home-page {
  background-image: url("../img/FinalHome-Pg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1590px;
  width: max(65vw, 70rem);
}

/* ---- BODY ENDS ---- */


/* ---- HERO SECTION ---- */

/* -- Alignmnet -- */
#home {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row wrap-reverse;
  margin-bottom: 8rem;
}

.hero-content {
  margin-top: 8.75rem;
}

/* -- Text Content -- */
.hero-content h1 {
  margin-bottom: 3rem;
}

.hero-content h6 {
  margin-bottom: 3rem;
  margin-left: 4.5rem;
  width: 32ch;
}

/* -- Snowglobe Hero Image -- */
.hero-image {
  margin-top: -8.75rem;
  z-index: -1;
  height: 50rem;
  margin-left: -16%;
}

/* -- Buttons -- */
/* alignmnet */
.hero-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
}

/* default values */
.hero-buttons a {
  border-color: var(--color-navy);
  border-width: 0.25rem;
  border-radius: 1.25rem;

  width: 18.75rem;
  height: 4.0625rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.hero-buttons a:hover {
  text-decoration: underline;
  text-decoration-thickness: .1rem;

  filter: none;
  transition-property: color, background-color;
  transition-duration: 0.4s;
}

/* explore map button */
.map-button {
  border-style: none;
  color: var(--color-white);
  background-color: var(--color-red);
}

.map-button:hover {
  color: var(--color-red);
  background-color: var(--color-white);
}

.map-button:hover img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(65%) saturate(1903%) hue-rotate(332deg) brightness(86%) contrast(98%);
}

/* purchase effigy button */
.effigy-button {
  border-style: solid;
  color: var(--color-navy);
  background-color: var(--color-white);
}

.effigy-button:hover {
  color: var(--color-white);
  background-color: var(--color-navy);
}

/* what is an effigy button */
.effigy-question {
  display: flex !important;
  gap: 0.75rem !important;
  flex-flow: row nowrap;
  font-size: 1rem !important;
  font-weight: var(--regular);
  color: var(--color-light-blue);
  justify-content: flex-start !important;
  height: auto !important;
  width: auto !important;
  margin-top: 0.75rem;
  padding-left: 0.75rem;
  transition: 0.2s !important;
  transition-property: color !important;
}

.effigy-question img {
  width: 1rem !important;
  height: 1rem !important;
  filter: brightness(0) saturate(100%) invert(37%) sepia(10%) saturate(1545%) hue-rotate(195deg) brightness(100%) contrast(80%);
}

.effigy-question:hover {
  color: var(--color-navy) !important;
  filter: brightness(0) saturate(100%) invert(17%) sepia(8%) saturate(2545%) hue-rotate(194deg) brightness(93%) contrast(88%) !important;
}

/* ---- HERO SECTION ENDS ---- */


/* ---- ABOUT SECTION ---- */

/* -- Default Values -- */
.title {
  margin-bottom: 1.25rem;
}

.mobile-title {
  display: none;
  /* display different title on mobile */
}

/* -- About Us (first section) -- */
.about-overview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: min(5rem, 20vw);
}

.about-overview .about-summary {
  padding: 3.75rem 4.5rem;

  color: var(--color-white);
  background-color: var(--color-light-blue);
  border-radius: 1.25rem;

  width: 56rem;
  height: 14.75rem !important;

  display: flex;
  align-items: center;
}

.about-details {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;

  color: var(--color-white);
  background-color: var(--color-navy);
  border-radius: 1.25rem;
  z-index: -1;

  padding: 2.5rem 0;
  padding-left: min(65%);
  margin-left: min(-57%, -35rem);

  margin-top: 3.75rem;
}

/* -- Our Vision & About Bonhomme (second & third section) -- */
/* alignment */
.about-open-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: 5rem;
}

/* content */
.about-image {
  border-radius: 1.25rem;
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  align-self: normal;
}

.about-open-text {
  width: 46%;
  padding-left: 2.5rem;
  flex: 0 0 auto;
}

/* for "about bonhomme" section */
.about-reversed-content .about-open-text {
  padding-left: 0;
  padding-right: 2.5rem;
}

/* -- Visitor's Guide (fourth section) -- */
/* alignment */
.visitors-guide {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 5rem;
  gap: 1.25rem;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-navy);
  border-radius: 1.25rem;
  width: calc((100% - 2.5rem) / 3);
}

/* content */
.card h4 {
  padding: 1.25rem 2.5rem;
  color: var(--color-white);
}

.card img {
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.card h6 {
  padding: 1.25rem;
  flex-shrink: 0;
  color: var(--color-white);
  padding-bottom: 2.5rem;
}

/* ---- ABOUT SECTION ENDS ---- */


/* ---- FOOTER ---- */

/* -- Section Alignment -- */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-navy);
  padding: 2.5rem 0;
}

footer .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* -- Content -- */
/* default values */
footer a {
  color: var(--color-white);
  font-weight: var(--regular);
}

footer h3 {
  line-height: 100%;
}

/* footer website links */
.footer-links {
  display: flex;
  flex-flow: column nowrap;
}

.footer-links a {
  padding: 0.375rem 0;
}

.footer-external-link {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

/* social icons and links */
.social-icons {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
}

.social-icons a {
  padding: 0 0.625rem;
}

/* ---- FOOTER ENDS ---- */


/* ---- HOME PAGE MEDIA QUERIES ---- */

/* ---- Extra small devices (phones, less than 600px) ---- */
@media only screen and (max-width: 600px) {

  /* -- Body Content -- */
  .wrapper {
    padding-left: 2.5vw !important;
    padding-right: 2.5vw !important;
  }

  /* -- Header Section -- */
  .header-logo h3 {
    display: none;
  }

  /* -- Hero Section -- */
  /* alignment */
  #home {
    justify-content: center;
  }

  .hero-content {
    margin-top: 2.5rem;
  }

  .effigy-cta-wrapper {
    width: 100%;
  }

  /* content */
  .hero-content h1 {
    line-height: 100%;
    font-size: min(5rem, 14.5vw);
    margin-bottom: min(2.5rem, 10vw);
  }

  .hero-content h6 {
    margin-left: 0;
    width: 100%;
    font-size: min(1.25rem, 5.2vw);
    margin-bottom: min(5rem, 20vw);
  }

  .hero-image {
    height: min(30rem, 125vw);
    margin-top: max(-80vw, -14rem);
    margin-left: 0;
  }

  .hero-buttons {
    justify-content: center;
    gap: 1.25rem;
  }

  .hero-buttons a {
    width: 100%;
    font-size: min(1.25rem, 8vw);
    height: min(4.0625rem, 30vw);
    gap: min(1.25rem, 5vw);
  }

  .hero-buttons a img {
    width: min(2.25rem, 7.5vw);
    height: auto;
  }

  /* -- About Section -- */

  /* about us (first section) */
  .title-1 {
    display: none;
  }

  .title-2 {
    display: initial;
  }

  .about-details {
    width: 100%;
    padding: min(2.5rem, 10vw);
    padding-top: 19.5rem;
    padding-left: min(2.5rem, 10vw);
    margin: 0;
    margin-top: -17rem;
    gap: 2.5rem;
  }

  .about-overview .about-summary {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: auto !important;
    gap: 1.25rem;
    padding: min(2rem, 8vw) min(2.5rem, 10vw) min(2.5rem, 10vw) min(2.5rem, 10vw);
  }
}

/* ---- Extra small devices (phones, less than 600px) ENDS ---- */


/* ---- Small devices (portrait tablets, less than 768px) ---- */
@media only screen and (max-width: 768px) {

  /* -- Body Content -- */
  * {
    font-size: 14px;
  }

  .home-page {
    background-image: url("../img/mobile-bg.svg");
    background-size: cover;
  }

  /* -- About Section -- */
  /* about us (first section) */
  .about-overview .about-summary {
    width: 95%;
    padding: min(2rem, 8vw) min(2.5rem, 10vw) min(2.5rem, 10vw) min(2.5rem, 10vw);
  }

  /* our vision and meet bonhomme (second and third sections) */
  .about-open-section {
    flex-flow: column wrap;
    gap: min(2.5rem, 10vw);
  }

  .about-image {
    width: 100%;
    height: min(30rem, 75vh);
    align-self: flex-start;
  }

  .about-open-text {
    width: 100%;
    padding-left: 0;
  }

  .about-open-text .title {
    margin-bottom: min(0.75rem, 5vw);
  }

  .about-reversed-content {
    flex-flow: column-reverse !important;
  }

  .about-reversed-content .about-open-text {
    padding-right: 0;
  }

  /* visitor's guide (fourth section) */
  .card {
    width: 100%;
    height: min(40rem, 150vw);
  }

  /* -- Footer -- */
  /* section alignmnet */
  footer {
    padding: 5rem 0;
  }

  footer .wrapper {
    flex-flow: column;
  }

  /* content */
  .footer-logo {
    margin-bottom: 5rem;
  }

  :nth-child(1 of .footer-links) {
    margin-bottom: 2.5rem;
  }

  .social-icons {
    margin-top: -12rem;
    flex-flow: column nowrap;
  }

  .social-icons a {
    padding: 0.375rem;
  }
}

/* ---- Small devices (portrait tablets, less than 768px) ENDS ---- */

@media only screen and (max-width: 768px) and (orientation: landscape) and (hover: none) {
  #map-top-header .header-logo h3 {
    display: none;
  }
}

/* ---- ONLY small devices (768px to 601px) ---- */
@media only screen and (max-width: 768px) and (min-width: 601px) {

  /* -- Hero Section -- */
  /* alignment */
  .hero-content {
    margin-top: -5.5rem;
  }

  /* content */
  .hero-content h1 {
    line-height: 9vw;
    font-size: 10vw;
  }

  .hero-image {
    height: 45vw;
    margin-left: 64%;
  }

  .hero-buttons {
    gap: 2.5rem;
  }

  .hero-buttons a {
    width: 17.7rem;
  }

  /* -- About Section -- */
  .about-details {
    width: 100%;
    padding: 2.5rem;
    padding-top: calc(11.5rem + 2.5rem);
    margin: 0;
    margin-top: -11.5rem;
  }
}

/* ---- ONLY small devices (768px to 601px) ENDS ---- */

/* ---- Medium devices (landscape tablets, less than 992px) ---- */
@media only screen and (max-width: 992px) {

  /* -- Header -- */
  .hamburger {
    display: block;
  }

  .map-header a:not(.logo) {
    position: inherit;
    filter: brightness(100);
  }

  .header-wrapper nav {
    display: none;
  }

  .external-link-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  /* -- About Section -- */
  .about-overview {
    flex-flow: column wrap;
    align-items: flex-start;
  }

  /* -- Map Section -- */
  .box {
    max-width: 12vw;
    margin-top: -28px;
  }
}

/* ---- Medium devices (landscape tablets, less than 992px) ENDS ---- */

/* ---- ONLY Medium devices (992px to 769px) ---- */
@media only screen and (max-width: 992px) and (min-width: 769px) {

  /* -- Hero Section -- */
  .hero-content {
    margin-top: 2.5rem;
  }

  .hero-image {
    height: min(28rem, 45vw);
    margin-left: -20rem;
  }

  /* -- About Section -- */
  .about-overview .about-summary {
    width: 100%;
  }

  .about-details {
    align-self: flex-end;
    padding: 2.5rem;
    padding-top: 21.25rem;
    margin-top: -18.5rem;
    margin-right: 1.25rem;
  }

  .about-open-text {
    width: 60%;
  }

  /* -- Footer -- */
  .social-icons a {
    padding: 0 0.375rem;
  }
}

/* ---- ONLY Medium devices (992px to 769px) ENDS ---- */

/* ---- Large devices (laptops/small desktops, less than 1200px) ---- */
@media only screen and (max-width: 1200px) {

  /* -- Body Content -- */
  .wrapper {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  /* -- Header -- */
  .header-wrapper nav a {
    padding: 0 0.625rem;
  }

  .header-wrapper nav a:last-child {
    padding: 0 0 0 0.625rem;
  }
}

/* ---- Large devices (laptops/small desktops, less than 1200px) ENDS ---- */

/* ---- ONLY Large devices (1200px to 993px) ---- */
@media only screen and (max-width: 1200px) and (min-width: 993px) {

  /* -- Hero Section -- */
  .hero-image {
    height: calc(67vw - 14rem);
  }
}

/* ---- ONLY Large devices (1200px to 993px) ENDS ---- */

/* ---- Large devices AND Medium devices (1200px to 769px) ---- */
@media only screen and (max-width: 1200px) and (min-width: 769px) {

  /* -- About Section -- */
  .card {
    width: calc(50% - 1.25rem);
    height: auto;
  }

  :nth-last-child(1 of .card) {
    width: 100%;
    height: fit-content;
  }

  :nth-last-child(1 of .card) img {
    height: 50%;
    width: auto;
  }

  :nth-last-child(1 of .card) h6 {
    width: 80%;
  }
}

/* ---- Large devices AND Medium devices (1200px to 769px) ENDS ---- */

/* ---- Extra large devices (1440p and 4K screens, more than 2000px) ---- */
@media only screen and (min-width: 2000px) {

  /* -- Text Default Values -- */
  h1 {
    line-height: 100%;
  }

  /* -- Body Content -- */
  * {
    font-size: 18px;
  }

  /* -- About Section -- */
  .about-details {
    flex-flow: column nowrap;
    width: 100%;
    margin-left: -53%;
    padding-left: 59%
  }
}

/* ---- Extra large devices (1440p and 4K screens, more than 2000px) ENDS ---- */
/* ---- MEDIA QUERIES ENDS ---- */


/* ---- MAP SECTION ---- */

/* -- Section Alignment -- */
.map {
  position: relative;
  display: inline-block;
  margin-top: 0;
  z-index: -1;
  max-width: 100%;
  height: auto;
}

#map {
  position: relative;
  display: flex;
  line-height: 0;
}

/* -- Body and Image Section -- */
.map-body {
  background-color: var(--color-navy) !important;
  background-image: none;
}

picture {
  position: relative;
  display: contents;
  width: 100%;
}

/* -- Activity Icons -- */
/* animation */
.activity-icon {
  -webkit-animation: mover 3s infinite alternate;
  animation: mover 1s infinite alternate;
  position: absolute;
  display: inline-block;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

/* icon sizing */
.box {
  max-width: 12vw;
}

#parade,
#stage {
  max-width: 20vw;
  min-width: 20vw;
}

/* -- Mobile Icon Positioning -- */
@media screen and (max-aspect-ratio:7/10) {
  .box {
    max-width: 40vw;
  }

  #parade,
  #stage {
    max-width: 60vw;
    min-width: 60vw;
  }

  .ice-canoeing-icon {
    top: calc((83vw * (844/195)) - 140px + 12rem);
    right: 8vw;
  }

  .dog-sledding-icon {
    top: calc((22vw * (844/195)) - 140px + 12rem);
    right: 18vw;
  }

  .parade-icon {
    top: calc((49vw * (844/195)) - 140px + 12rem);
    right: 24vw;
  }

  .parade-icon img {
    transform: rotate(340deg);
  }

  .canadian-food-icon {
    top: calc((76.5vw * (844/195)) - 140px + 12rem);
    right: 36vw;
  }

  .canadian-food-icon img {
    transform: rotate(340deg);
  }

  .ice-palace-icon {
    top: calc((35vw * (844/195)) - 140px + 12rem);
    right: 45vw;
  }

  .concert-icon {
    top: calc((63vw * (844/195)) - 140px + 12rem);
    right: 35vw;
  }
}

/* -- Mobile Icon Positioning ENDS -- */

/* -- Tablet Icon Positioning -- */
@media screen and ((min-aspect-ratio:7/10) and (max-aspect-ratio:177/125)) {
  .box {
    max-width: 20vw;
  }

  #parade,
  #stage {
    max-width: 30vw;
    min-width: 30vw;
  }

  .ice-canoeing-icon {
    top: calc(70vw - 140px + 10.2rem);
    right: 10vw;
  }

  .dog-sledding-icon {
    top: calc(26vw - 140px + 10.2rem);
    right: 50vw;
  }

  .parade-icon {
    top: calc(60vw - 140px + 10.2rem);
    right: 33vw;
  }

  .canadian-food-icon {
    top: calc(42vw - 140px + 10.2rem);
    right: 67vw;
  }

  .ice-palace-icon {
    top: calc(31vw - 140px + 10.2rem);
    right: 8vw;
  }

  .concert-icon {
    top: calc(41vw - 140px + 10.2rem);
    right: 33vw;
  }
}

/* -- Tablet Icon Positioning ENDS -- */

/* -- Desktop Icon Positioning -- */
@media screen and (min-aspect-ratio:177/125) {
  .ice-canoeing-icon {
    top: calc((28vw * (9/16)) - 140px + 10.2rem);
    right: 10vw;
  }

  .dog-sledding-icon {
    top: calc((22vw * (9/16)) - 140px + 10.2rem);
    right: 61vw;
  }

  .parade-icon {
    top: calc((50vw * (9/16)) - 140px + 10.2rem);
    right: 55vw;
  }

  .canadian-food-icon {
    top: calc((31vw * (9/16)) - 140px + 10.2rem);
    right: 40vw;
  }

  .ice-palace-icon {
    top: calc((50vw * (9/16)) - 140px + 10.2rem);
    right: 25vw;
  }

  .concert-icon {
    top: calc((61vw * (9/16)) - 140px + 10.2rem);
    right: 38vw;
  }
}

/* -- Desktop Icon Positioning ENDS -- */

/* -- Activity Icon Hovering Effect -- */
@media (hover: hover) {
  .dog-sledding-icon:hover img {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-dog-sledding-icon.png");
  }

  .ice-canoeing-icon:hover img {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-ice-canoeing-icon.png");
  }

  .parade-icon:hover img {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-parade-icon.png");
  }

  .canadian-food-icon:hover img {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-canadian-food-icon.png");
  }

  .ice-palace-icon:hover img {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-ice-palace-icon.png");
  }

  .concert-icon:hover img {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-concert-icon.png");
  }
}

/* -- Activity Icon Hovering Effect ENDS -- */
/* ---- MAP SECTION ENDS ---- */


/* ---- ACTIVITY POPUP SECTION ---- */
/* applies to .map-body */
.open-popup {
  background-image: url(../img/finalpopup-bg.svg) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

/* -- Section Alignment -- */
#popup {
  position: relative;
  padding-bottom: max(35vh, 5rem);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 15%;
  display: none;
  justify-content: center;
}

.popup-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 1800px;
}

/* -- Content -- */
/* feature image */
.popup-image {
  max-width: 40rem;
  width: 33vw;
  height: auto;
  border-radius: 1.25rem;
  object-fit: cover;
  margin-right: min(-5rem, -5vw);
}

/* white box */
.popup-content {
  position: relative;
  margin-top: 2.5rem;
  max-width: min(36rem + 15rem, 50vw);
  background-color: var(--color-white);
  border-radius: 1.25rem;
  padding: min(2.5rem, 2.5vw);
  padding-left: min(2.5rem + 1.25rem, 2.5vw);
  padding-right: min(15rem, 15vw);
  margin-right: max(-15rem, -12vw);
  display: flex;
  flex-flow: column;
}

/* activity title */
.popup-title {
  margin-bottom: min(2.5rem, 2.5vw);
}

/* close popup button */
.popup-close {
  position: absolute;
  margin-right: max(-15rem + 2.5rem, -15vw + 1.25rem);
  margin-top: -0.5rem;
  align-self: flex-end;
  z-index: 2;
  width: 2rem;
  height: 2rem;
}

.popup-close img {
  width: 2rem;
  height: auto;
  filter: brightness(0) saturate(100%) invert(16%) sepia(39%) saturate(555%) hue-rotate(194deg) brightness(99%) contrast(90%);
}

/* activity mascot */
.popup-mascot {
  width: 20%;
  height: auto;
  max-height: 23.5rem;
  object-fit: scale-down;
  align-self: flex-end;
  z-index: 1;
}

/* mobile "read more" and "read less" buttons */
button {
  padding: 0;
  color: var(--color-white) !important;
  display: inline;
  height: 1rem;
  width: auto;
}

#read-more-button {
  display: inline;
  font-size: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-weight: var(--bold);
  font-family: Poppins, sans-serif;
  line-height: 0;
}

#read-less-button {
  display: inline;
  font-size: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-weight: var(--bold);
  font-family: Poppins, sans-serif;
  line-height: 0;
}

/* ---- Activity Popup Media Queries ---- */

/* -- Skinny viewports and phones (less than 600px and less than a 7:10 aspect ratio) -- */
@media only screen and (max-aspect-ratio:7/10),
(max-width: 600px) {

  /* applies to .map-body */
  .popup-open-state {
    background-image: none;
    position: relative !important;
  }

  /* -- Section Alignment -- */
  #popup {
    background-image: url("../img/mobile-popup-mascot-background.png");
    background-color: var(--color-navy);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: auto;
    padding: 1.25rem !important;
    padding-bottom: 5rem;
    padding-top: 7.5rem !important;
  }

  .popup-wrapper {
    justify-content: center;
    margin: 0;
    flex-flow: column !important;
  }

  /* -- Content -- */
  .popup-image {
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
    border-radius: 1.25rem;
    margin: 0;
    margin-bottom: 2.5rem;
  }

  .popup-content {
    background-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 2.5rem;
    position: unset;
  }

  .popup-title {
    color: var(--color-white);
  }

  .popup-text {
    color: var(--color-white);
    max-width: 45ch;
  }

  .popup-close {
    top: 2.5rem;
    margin: 0;
    margin-left: 0.5rem;
    align-self: flex-start;
    filter: brightness(10);
  }

  .popup-mascot {
    margin: 0 !important;
    width: min(30rem, 100%) !important;
    height: auto;
    order: 3 !important;
  }
}

/* -- Skinny viewports and phones (less than 600px and less than a 7:10 aspect ratio) ENDS -- */

/* -- Medium and small devices (996px to 601px) -- */
@media only screen and (max-width: 996px) and (min-width: 601px) {

  /* -- Section Alignment -- */
  #popup {
    justify-content: flex-start;
    padding-top: 7.5rem;
  }

  .popup-wrapper {
    flex-flow: column-reverse;
  }

  /* -- Content -- */
  .popup-content {
    max-width: 90%;
    padding-bottom: 7.5rem;
    margin-bottom: -5rem;
    order: 2;
  }

  .popup-mascot {
    width: 33%;
    order: 0;
    z-index: 2;
    margin-top: -37%;
  }

  .popup-image {
    width: 75%;
    max-width: 75%;
    order: 1;
    z-index: 1;
  }
}

/* -- Medium and small devices (996px to 601px) ENDS -- */

/* -- Large devices (less than 1200px) -- */
@media only screen and (max-width: 1200px) {
  .popup-close {
    margin-top: 0;
  }
}

/* -- Large devices (less than 1200px) ENDS -- */
/* ---- Activity Popup Media Queries ENDS ---- */
/* ---- ACTIVITY POPUP SECTION ENDS ---- */


/* ---- MOBILE MENU ---- */

/* -- Alignment -- */
#mySidenav {
  width: 0;
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-image: url("../img/finalmobile-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}

.sidenav-wrapper {
  padding: min(10rem, 5vh) min(10rem, 10vw);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  transition: 0.5s;
  margin-left: -100vw;
}

/* -- Content -- */
.sidenav nav {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
  margin-top: -5rem;
}

.sidenav a {
  font-weight: var(--regular);
  font-size: 1.875rem;
  color: var(--color-white);
  transition: 0.3s;
  line-height: 200%;
  transition-property: color;
}

#mySidenav .logo-link {
  align-self: flex-end;
  width: min(15rem, 40vw);
  height: min(15rem, 40vw);
}

#mySidenav .logo {
  align-self: flex-end;
  width: min(15rem, 40vw);
  height: min(15rem, 40vw);
}

#mySidenav .external-link-icon {
  width: 1.25rem;
  height: 1.25rem;
}

/* ---- MOBILE MENU ENDS ---- */


/* ---- LATE-NIGHT CITATIONS PAGE CSS ---- */

/* -- Section Alignment --  */
.citation-link-wrapper {
  margin: 2.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  margin-bottom: 5rem;
}

.citation-text-wrapper {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
}

.citation-page {
  padding: 2.5rem;
  width: auto !important;
}

/* -- Content -- */
/* title */
.citation-page h1 {
  padding-bottom: 5rem;
}

/* card */
.citation-link-wrapper img {
  border-radius: 0.5rem;
}

.citation-page a {
  display: flex;
  flex-flow: column;
  background-color: var(--color-navy);
  border-radius: 0.75rem;
  color: var(--color-white);
  padding: 1.25rem;
  gap: 0.75rem;
  width: fit-content;
  transition: 0.2s;
  justify-content: space-between;
}

.citation-page p {
  line-height: 145%;
  letter-spacing: -0.02rem;
  font-weight: var(--regular);
  padding: 0;
  margin: 0;
  max-width: 45ch;
}

.citation-source {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.75rem;
  align-items: center;
}

/* cards with images */
.citation-image {
  max-width: 20rem;
  max-height: 20rem;
  object-fit: contain;
}

.citation-page h4 {
  max-width: 20rem;
}

/* card animation */
.citation-page a:not(.exclude-citation-hover):hover {
  background-color: var(--color-white);
  color: var(--color-navy);
  transform: scale(1.1);
}

/* ui icon animation */
.citation-page a:not(.exclude-citation-hover):hover .citation-icon {
  filter: brightness(0) saturate(100%) invert(22%) sepia(98%) saturate(1349%) hue-rotate(332deg) brightness(112%) contrast(96%);
}

/* some icons have a dark logo */
.white-background {
  background-color: var(--color-white);  
}

/* some section titles have a dark bg behind them */
.white-text {
  color: var(--color-white);
}
/* -- Content ENDS -- */

/* -- Citation Header -- */
/* item alignment */
.citation-header nav a {
  padding: 0 0.75rem;
}

.citation-header nav {
  font-size: 0;
}

.citation-header nav a:last-child {
  padding: 0 0.75rem;
}

/* mobile menu */
.citation-mobile-header .sidenav-wrapper nav {
  gap: 0;
  margin-top: 2.5rem;
}

.citation-mobile-header .sidenav-wrapper {
  height: auto;
}

.citation-mobile-header {
  width: fit-content !important;
  height: max(100vh, 66.75rem);
}

.citation-mobile-header .sidenav-wrapper .logo-link {
  margin-top: -5rem !important;
}

/* sticky header css */
.sticky-header {
  position: fixed;
  background: var(--color-white);
  transition: 0.5s;
  height: auto;
}

.sticky-header .header-wrapper {
  padding: 0.75rem 2.5rem;
}

.sticky-header .header-wrapper a {
  width: auto;
  height: 3.5rem;
}

.sticky-header .header-wrapper a img {
  width: 3.5rem;
  height: 3.5rem;
}

.sticky-header + main {
  padding-top: 8.125rem;
}
/* -- Citation Header ENDS -- */

/* -- Citation Media Queries -- */
/* Extra small devices */
@media screen and (max-width: 600px) {
  /* keep things inline with header */
  main .citation-page {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }

  /* not needed anymore with diff background */
  .white-text {
    color: var(--color-navy);
  }
}

/* Medium devices */
@media screen and (max-width: 992px) {
  /* card spacing */
  .citation-link-wrapper {
    gap: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  /* more cards beside each other */
  .citation-page p {
    max-width: 40ch;
  }
}

/* Large Devices */
@media screen and (max-width: 1200px) {
  /* header */
  .citation-header .hamburger {
    display: block;
  }

  .citation-header nav {
    display: none;
  }
}

/* keep navigation list on one line */
@media screen and (max-width: 1650px) {
  .citation-header h3 {
    display: none;
  }
}
/* -- Citation Media Queries ENDS-- */
/* ---- LATE-NIGHT CITATIONS PAGE CSS ENDS ---- */

/* ---- wow congrats you made it all the way down here :) ---- */