@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

/* --- FONT VARIABLES --- */
:root {
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

/* --- COLOR VARIABLES --- */
:root {
  --color-navy: #2E324A;
  --color-white: #F6F6F9;
  --color-red: #DA373E;
  --color-light-blue: #5F658B;
}

/* --- Headings CSS --- */
body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: var(--regular);
  line-height: 145%;
  color: var(--color-navy);
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: var(--bold);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 5rem;
  font-weight: var(--bold);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: var(--bold);
  line-height: 110%;
  padding: 0;
  margin: 0;
  /* text-shadow: 1px 2px 2px #868391; */
}

h4 {
  font-size: 2rem;
  font-weight: var(--semi-bold);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 1.25rem;
  font-weight: var(--bold);
  line-height: 110%;
  padding: 0;
  margin: 0;
}

h6 {
  font-size: 1.25rem;
  font-weight: var(--regular);
  line-height: 145%;
  letter-spacing: -0.025rem;
  padding: 0;
  margin: 0;
}

p {
  line-height: 145%;
  letter-spacing: -0.02rem;
  padding: 0;
  margin: 0;
}

a {
  font-size: 1.25rem;
  font-weight: var(--bold);
  line-height: 110%;
  color: var(--color-navy);
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:not(.logo):not(.activity-icon):not(.cta):not(.sidenav a):hover {
  color: var(--color-red);
  transition-duration: 0.2s;
  filter: brightness(0) saturate(100%) invert(31%) sepia(65%) saturate(1903%) hue-rotate(332deg) brightness(86%) contrast(98%);
  transition-property: color;
}


#map.hamburger {
  display: none;
  filter: brightness(0) saturate(100%) invert(17%) sepia(47%) saturate(470%) hue-rotate(194deg) brightness(90%) contrast(90%);
  line-height: 0;
}

/* --- Header CSS --- */

header {
  width: 100%;
  height: 8.75rem;
}

.header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 2.5rem;
}

.header-logo {
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  gap: 0.75rem;
}

.header-wrapper nav a {
  padding: 0 1.875rem;
}

.header-wrapper nav a:last-child {
  padding: 0 0 0 1.875rem;
}

.external-link-icon {
  margin-left: 0.375rem;
}

.hamburger {
  display: none;
  filter: brightness(0) saturate(100%) invert(17%) sepia(47%) saturate(470%) hue-rotate(194deg) brightness(90%) contrast(90%);
  line-height: 0;
}

.hamburger img {
  height: 2.5rem;
  width: auto;
}

.map-header a {
  color: var(--color-white) !important;
  z-index: 10 !important;
  position: relative;
}

.map-header .external-link-icon {
  filter: brightness(100);
}


/* --- Body Content CSS --- */

.home-page {
  background-image: url("../img/FinalHome-Pg.svg");
  background-repeat: no-repeat;
}

main {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1590px;
  width: max(65vw, 70rem);
}


/* --- Hero Section CSS --- */

#home {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row wrap-reverse;
  margin-bottom: 8rem;
  /* margin-left: min(10vw,-8rem); */
  /*Doing margin-left here breaks the layout*/

}

.hero-content {
  margin-top: 8.75rem;
}

.hero-content h1 {
  margin-bottom: 3rem;
}

.hero-content h6 {
  margin-bottom: 3rem;
  margin-left: 4.5rem;
  width: 32ch;
}

.hero-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
}

.hero-buttons a {
  border-color: var(--color-navy);
  border-width: 0.25rem;
  border-radius: 1.25rem;

  width: 18.75rem;
  height: 4.0625rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.map-button {
  border-style: none;
  color: var(--color-white);
  background-color: var(--color-red);
}

.effigy-button {
  border-style: solid;
  color: var(--color-navy);
  background-color: var(--color-white);
}

.hero-buttons a:hover {
  text-decoration: underline;
  text-decoration-thickness: .1rem;

  filter: none;
  transition-property: color, background-color;
  transition-duration: 0.4s;
}

.hero-buttons .map-button:hover {
  color: var(--color-red);
  background-color: var(--color-white);
}

.hero-buttons .map-button:hover img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(65%) saturate(1903%) hue-rotate(332deg) brightness(86%) contrast(98%);
}

.hero-buttons .effigy-button:hover {
  color: var(--color-white);
  background-color: var(--color-navy);
}

.hero-image {
  margin-top: -8.75rem;
  z-index: -1;
  height: 50rem;
  margin-left: -16%;
}


/* --- About Section CSS --- */

.title {
  margin-bottom: 1.25rem;
}

.about-overview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: min(5rem, 20vw);
}

.about-overview .about-summary {
  padding: 3.75rem 4.5rem;

  color: var(--color-white);
  background-color: var(--color-light-blue);
  border-radius: 1.25rem;

  width: 56rem;
  height: 14.75rem !important;

  display: flex;
  align-items: center;
}

.about-details {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;

  color: var(--color-white);
  background-color: var(--color-navy);
  border-radius: 1.25rem;
  z-index: -1;

  padding: 2.5rem 0;
  padding-left: 65%;
  margin-left: -57%;
  margin-top: 3.75rem;
}

.mobile-title {
  display: none;
}

.about-vision {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: 5rem;
}

.about-image {
  border-radius: 1.25rem;
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  align-self: normal;
}

.about-open-text {
  width: 46%;
  padding-left: 2.5rem;
  flex: 0 0 auto;
}

.about-bonhomme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: 5rem;
}

.about-bonhomme .about-open-text {
  padding-left: 0;
  padding-right: 2.5rem;
}


.visitors-guide {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 5rem;
  gap: 1.25rem;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-navy);
  border-radius: 1.25rem;
  width: calc((100% - 2.5rem) / 3);
}

.card h4 {
  padding: 1.25rem 2.5rem;
  color: var(--color-white);
}

.card img {
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.card h6 {
  padding: 1.25rem;
  flex-shrink: 0;
  color: var(--color-white);
  padding-bottom: 2.5rem;
}


/* --- Footer CSS --- */

footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-navy);
  padding: 2.5rem 0;
}

footer h3 {
  line-height: 100%;
}

footer a {
  color: var(--color-white);
  font-weight: var(--regular);
}

footer .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex-flow: column nowrap;
}

.footer-links a {
  padding: 0.375rem 0;
}

.footer-external-link {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
}

.social-icons a {
  padding: 0 0.625rem;
}

/* --- HOME PAGE MEDIA QUERIES --- */

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {

  /* --- Body Content CSS --- */
  .home-page {
    background-image: url("../img/mobile-bg.svg");
    background-size: cover;
  }

  .wrapper {
    padding-left: 2.5vw !important;
    padding-right: 2.5vw !important;
  }

  /* --- Header Section CSS --- */
  .header-logo {
    display: none;
  }


  /* --- Hero Section CSS --- */
  .hero-image {
    height: min(30rem, 125vw);
    margin-top: max(-80vw, -14rem);
    margin-left: 0;
  }

  #home {
    justify-content: center;
  }

  .hero-content h1 {
    line-height: 100%;
    font-size: min(5rem, 14.5vw);
    margin-bottom: min(2.5rem, 10vw);
  }

  .hero-buttons {
    justify-content: center;
    gap: 1.25rem;
  }

  .hero-content h6 {
    margin-left: 0;
    width: 100%;
    font-size: min(1.25rem, 5.2vw);
    margin-bottom: min(5rem, 20vw);
  }

  .hero-buttons a {
    width: 100%;
    font-size: min(1.25rem, 8vw);
    height: min(4.0625rem, 30vw);
    gap: min(1.25rem, 5vw);
  }

  .hero-buttons a img {
    width: min(2.25rem, 7.5vw);
    height: auto;
  }

  .hero-content {
    margin-top: 2.5rem;
  }


  /* --- About Section CSS --- */
  .about-details {
    width: 100%;
    padding: min(2.5rem, 10vw);
    padding-top: 19.5rem;
    padding-left: min(2.5rem, 10vw);
    margin: 0;
    margin-top: -17rem;
    gap: 2.5rem;
  }

  .title-2 {
    display: initial;
  }

  .title-1 {
    display: none;
  }

  .about-overview .about-summary {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: auto !important;
    gap: 1.25rem;
    padding: min(2rem, 8vw) min(2.5rem, 10vw) min(2.5rem, 10vw) min(2.5rem, 10vw);
  }

  /* --- Footer CSS --- */

}

/* Small devices (portrait tablets and large phones, less than 768px) */
@media only screen and (max-width: 768px) {

  /* --- Body Content CSS --- */
  * {
    font-size: 14px;
  }


  /* --- About Section CSS --- */
  .about-overview .about-summary {
    width: 95%;
    padding: min(2rem, 8vw) min(2.5rem, 10vw) min(2.5rem, 10vw) min(2.5rem, 10vw);
  }

  .about-vision {
    flex-flow: column wrap;
    gap: min(2.5rem, 10vw);
  }

  .about-image {
    width: 100%;
    align-self: flex-start;
  }

  .about-open-text {
    width: 100%;
    padding-left: 0;
  }

  .about-open-text .title {
    margin-bottom: min(0.75rem, 5vw);
  }

  .about-bonhomme {
    flex-flow: column-reverse;
    gap: min(2.5rem, 10vw);
  }

  .about-bonhomme .about-open-text {
    padding-right: 0;
  }

  .about-bonhomme .about-image {
    width: 100%;
    height: min(30rem, 75vh);
    align-self: flex-start;
  }


  /* --- About Section CSS --- */
  footer {
    padding: 5rem 0;
  }

  .footer-logo {
    margin-bottom: 5rem;
  }

  footer .wrapper {
    flex-flow: column;
  }

  :nth-child(1 of .footer-links) {
    margin-bottom: 2.5rem;
  }

  .social-icons {
    margin-top: -12rem;
    flex-flow: column nowrap;
  }

  .social-icons a {
    padding: 0.375rem;
  }

  .card {
    width: 100%;
    height: min(40rem, 150vw);
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {

  /* --- Hero Section CSS --- */
  .hero-content h1 {
    line-height: 9vw;
    font-size: 10vw;
  }

  .hero-image {
    height: 45vw;
    margin-left: 64%;
  }

  .hero-content {
    margin-top: -5.5rem;
  }

  .hero-buttons {
    gap: 2.5rem;
  }

  .hero-buttons a {
    width: 17.7rem;
  }


  /* --- About Section CSS --- */
  .about-details {
    width: 100%;
    padding: 2.5rem;
    padding-top: calc(11.5rem + 2.5rem);
    margin: 0;
    margin-top: -11.5rem;
  }
}

/* Medium devices (landscape tablets, less than 992px) */
@media only screen and (max-width: 992px) {

  /* --- Header Section CSS --- */
  .hamburger {
    display: block;
  }

  .map-header a:not(.logo) {
    position: inherit;
    filter: brightness(100);
  }

  .header-wrapper nav {
    display: none;
  }

  /* --- About Section CSS --- */
  .about-overview {
    flex-flow: column wrap;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {

  /* --- Hero Section CSS --- */
  .hero-image {
    height: min(28rem, 45vw);
    margin-left: -20rem;
  }

  /* --- Hero Section CSS --- */
  .hero-content {
    margin-top: 2.5rem;
  }

  /* --- About Section CSS --- */
  .about-overview .about-summary {
    width: 100%;
  }

  .about-details {
    align-self: flex-end;
    padding: 2.5rem;
    padding-top: 21.25rem;
    margin-top: -18.5rem;
    margin-right: 1.25rem;
  }

  .about-open-text {
    width: 60%;
  }

  /* --- Footer CSS --- */
  .social-icons a {
    padding: 0 0.375rem;
  }
}

/* Large devices (laptops/desktops, less than 1200px) */
@media only screen and (max-width: 1200px) {

  /* --- Body Content CSS --- */
  .wrapper {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }


  /* --- Header Section CSS --- */
  .header-wrapper nav a {
    padding: 0 0.625rem;
  }

  .header-wrapper nav a:last-child {
    padding: 0 0 0 0.625rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .hero-image {
    height: calc(67vw - 14rem);
  }
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .card {
    width: calc(50% - 1.25rem);
    height: auto;
  }

  :nth-last-child(1 of .card) {
    width: 100%;
    height: fit-content;
  }

  :nth-last-child(1 of .card) img {
    height: 50%;
    width: auto;
  }

  :nth-last-child(1 of .card) h6 {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {

  .home-page {
    background-size: cover;
  }
}

/* 4K screens (more than 1200px) */
@media only screen and (min-width: 2000px) {

  /* --- Body Content CSS --- */
  * {
    font-size: 18px;
  }

  h1 {
    line-height: 100%;
  }

  /* --- About Section CSS --- */
  .about-details {
    flex-flow: column nowrap;
    width: 100%;
    margin-left: -53%;
    padding-left: 59%
  }

}


/* --- MAP SECTION --- */
.map {
  position: relative;
  display: inline-block;
  margin-top: 0;
  z-index: -1;
  max-width: 100vw;
  height: auto;
}

@media screen and (max-width: 982px) {
  .map {
    position: relative;
    display: inline-block;
    /* margin-top: -12rem; */
    z-index: -1;
    max-width: 100vw;
    height: auto;
  }

  .box {
    max-width: 12vw;
    margin-top: -28px;
  }

  #map {
    margin-top: -12rem;
  }
}

#map-nav-bar nav a {
  color: var(--color-white);
  gap: 2rem;
}

#map-nav-bar .header-logo a {
  color: var(--color-white);
}

#map-footer {
  margin-top: -6.4px;
}

#map-nav-bar h3 {
  color: var(--color-white)
}

#map-nav-bar a:hover {
  color: var(--color-red)
}

#map {
  position: relative;
  line-height: 0;
  margin-top: -10.2rem;
}

/* start of map icon popup */
#map a:not(.popup-close) {
  -webkit-animation: mover 3s infinite alternate;
  animation: mover 1s infinite alternate;
  position: absolute;
  display: inline-block;
}

.map-body {
  background-color: var(--color-navy) !important;
  background-image: none;
}

.box {
  max-width: 12vw;
}

#parade,
#stage {
  max-width: 20vw;
  min-width: 20vw;
}

picture {
  position: relative;
  display: block;
}

/* Mobile Icon Positions */
@media screen and (max-aspect-ratio:7/10) {
  .box {
    max-width: 40vw;
  }

  #parade,
  #stage {
    max-width: 60vw;
    min-width: 60vw;
  }

  .ice-canoeing-icon {
    top: calc((83vw * (844/195)) - 140px + 12rem);
    right: 8vw;
  }

  .dog-sledding-icon {
    top: calc((24vw * (844/195)) - 140px + 12rem);
    right: 18vw;
  }

  .parade-icon {
    top: calc((49vw * (844/195)) - 140px + 12rem);
    right: 24vw;
  }

  .parade-icon img {
    transform: rotate(340deg);
  }

  .canadian-food-icon {
    top: calc((76.5vw * (844/195)) - 140px + 12rem);
    right: 36vw;
  }

  .canadian-food-icon img {
    transform: rotate(340deg);
  }

  .ice-palace-icon {
    top: calc((35vw * (844/195)) - 140px + 12rem);
    right: 45vw;
  }

  .concert-icon {
    top: calc((63vw * (844/195)) - 140px + 12rem);
    right: 35vw;
  }
}

/* Tablet Icon Positions */
@media screen and ((min-aspect-ratio:7/10) and (max-aspect-ratio:177/125)) {
  .box {
    max-width: 20vw;
  }

  #parade,
  #stage {
    max-width: 30vw;
    min-width: 30vw;
  }

  .ice-canoeing-icon {
    top: calc(70vw - 140px + 10.2rem);
    right: 10vw;
  }

  .dog-sledding-icon {
    top: calc(26vw - 140px + 10.2rem);
    right: 50vw;
  }

  .parade-icon {
    top: calc(60vw - 140px + 10.2rem);
    right: 33vw;
  }

  .canadian-food-icon {
    top: calc(42vw - 140px + 10.2rem);
    right: 67vw;
  }

  .ice-palace-icon {
    top: calc(31vw - 140px + 10.2rem);
    right: 8vw;
  }

  .concert-icon {
    top: calc(41vw - 140px + 10.2rem);
    right: 33vw;
  }
}

/* Desktop Icon Positions */
@media screen and (min-aspect-ratio:177/125) {
  .ice-canoeing-icon {
    top: calc((28vw * (9/16)) - 140px + 10.2rem);
    right: 10vw;
  }

  .dog-sledding-icon {
    top: calc((22vw * (9/16)) - 140px + 10.2rem);
    right: 61vw;
  }

  .parade-icon {
    top: calc((50vw * (9/16)) - 140px + 10.2rem);
    right: 55vw;
  }

  .canadian-food-icon {
    top: calc((31vw * (9/16)) - 140px + 10.2rem);
    right: 40vw;
  }

  .ice-palace-icon {
    top: calc((50vw * (9/16)) - 140px + 10.2rem);
    right: 25vw;
  }

  .concert-icon {
    top: calc((61vw * (9/16)) - 140px + 10.2rem);
    right: 38vw;
  }
}

/* Activity Icons */
@media (hover: hover) {
  .dog-sledding-icon img:hover {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-dog-sledding-icon.png");
  }

  .ice-canoeing-icon img:hover {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-ice-canoeing-icon.png");
  }

  .parade-icon img:hover {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-parade-icon.png");
  }

  .canadian-food-icon img:hover {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-canadian-food-icon.png");
  }

  .ice-palace-icon img:hover {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-ice-palace-icon.png");
  }

  .concert-icon img:hover {
    background-repeat: no-repeat;
    content: url("../img/map-icons/hover-concert-icon.png");
  }
}

/* To preload the hover images before user actually hovers over an icon */
#preloaded-images {
  width: 0px;
  height: 0px;
  line-height: 0;
  position: absolute;
}

#preloaded-images img {
  width: 0px;
  height: 0px;
}

/* Animated Icons */
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}


/* --- ACTIVITY POPUP SECTION ---  */
.open-popup {
  background-image: url(../img/finalpopup-bg.svg) !important;
  background-color: none !important;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  padding: 0;
}

#popup {
  position: relative;
  padding-bottom: max(35vh, 5rem);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 5rem;
  display: none;
  justify-content: center;
}

.popup-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 1800px;
}

.popup-image {
  max-width: 40rem;
  width: 33vw;
  height: auto;
  border-radius: 1.25rem;
  object-fit: cover;
  margin-right: min(-5rem, -5vw);
}

.popup-content {
  position: relative;
  margin-top: 2.5rem;
  max-width: min(36rem + 15rem, 60vw);
  background-color: var(--color-white);
  border-radius: 1.25rem;
  padding: min(2.5rem, 2.5vw);
  padding-left: min(2.5rem + 1.25rem, 2.5vw);
  padding-right: min(15rem, 15vw);
  margin-right: max(-15rem, -12vw);

  display: flex;
  flex-flow: column;
}

.popup-close {
  position: absolute;
  margin-right: max(-15rem + 2.5rem, -15vw + 1.25rem);
  margin-top: -0.5rem;
  align-self: flex-end;
  z-index: 2;
  width: 2rem;
  height: 2rem;
}

.popup-close img {
  width: 2rem;
  height: auto;
  filter: brightness(0) saturate(100%) invert(16%) sepia(39%) saturate(555%) hue-rotate(194deg) brightness(99%) contrast(90%);
}

.popup-mascot {
  width: 20%;
  height: auto;
  object-fit: scale-down;
  align-self: flex-end;
  z-index: 1;
}

.popup-title {
  margin-bottom: min(2.5rem, 2.5vw);
}

#read-more-button {
  display: inline;
  font-size: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-weight: var(--bold);
  font-family: Poppins, sans-serif;
  line-height: 0;
}

#read-less-button {
  display: relative;
  font-size: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-weight: var(--bold);
  font-family: Poppins, sans-serif;
  line-height: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-aspect-ratio:7/10), (max-width: 600px) {
  
  #popup {
    background-image: url("../img/mobile-popup-mascot-background.png");
    background-color: var(--color-navy);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: auto;
    padding: 1.25rem !important;;
    padding-bottom: 5rem;
    padding-top: 7.5rem !important;
  }

  .popup-wrapper {
    justify-content: center;
    margin: 0;
    flex-flow: column !important;
  }

  .popup-image {
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
    border-radius: 1.25rem;
    margin: 0;
    margin-bottom: 2.5rem;
  }

  .popup-title {
    color: var(--color-white);
  }

  .popup-text {
    color: var(--color-white);
  }

  .popup-close {
    top: 2.5rem;
    margin: 0;
    margin-left: 0.5rem;
    align-self: flex-start;
    filter: brightness(10);
  }

  .popup-mascot {
    margin: 0 !important;
    width: min(30rem, 100%) !important;
    height: auto;
    order: 3 !important;
  }

  .popup-content {
    background-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 2.5rem;
    position: unset;
  }

  .popup-open-state {
    background-image: none;
    position: relative !important;
  }
}

@media only screen and (max-width: 996px) and (min-width: 601px) {
  #popup {
    justify-content: flex-start;
    padding-top: 2.5rem;
  }

  .popup-wrapper {
    flex-flow: column-reverse;
  }

  .popup-content {
    max-width: 90%;
    padding-bottom: 7.5rem;
    margin-bottom: -5rem;
    order: 2;
  }

  .popup-mascot {
    width: 33%;
    order: 0;   
    z-index: 2;
    margin-top: -37%;
  }

  .popup-image {
    width: 75%;
    max-width: 75%;
    order: 1;
    z-index: 1;
  }
}


@media only screen and (max-width: 1200px) {
  .popup-close {
    margin-top: 0;
  }
}















/* --- MOBILE MENU --- */
.closebtn {
  padding-top: 1rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-navy);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
}
.vertical-line{
border-left: 6px solid green;
  height: 500px;
}

.sidenav h6 {
  display: flex;
  padding-top: 3rem;
  padding-left: 2rem;
  color: var(--color-white);
}

.sidenav a {
  font-weight: var(--medium);
  padding-left: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--color-white);
  display: flex;
  padding-bottom: 1rem;
  transition: 0.3s;
}

.sidenav li:hover {
  list-style: none;
  color: var(--color-red);
  transition-duration: 0.2s;
  filter: brightness(0) saturate(100%) invert(31%) sepia(65%) saturate(1903%) hue-rotate(332deg) brightness(86%) contrast(98%);
  transition-property: color;
}

.closebtn:hover {
  color: var(--color-red);
  transition-duration: 0.2s;
  filter: brightness(0) saturate(100%) invert(31%) sepia(65%) saturate(1903%) hue-rotate(332deg) brightness(86%) contrast(98%);
  transition-property: color;
}

.sidenav .closebtn {
  position: absolute;
  top: 2rem;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-bohomme {
  padding-left: 12.12rem;
}

.menu-logo-text h3 {
  padding: 0;
  display: inline;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
}

#map.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-navy);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
}

#map.sidenav h6 {
  display: flex;
  padding-left: 2rem;
  color: var(--color-white);
}

#map.sidenav a {
  font-weight: var(--medium);
  padding-left: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--color-white);
  display: flex;
  padding-bottom: 1rem;
  transition: 0.3s;
}

#map.sidenav li:hover {
  list-style: none;
  color: var(--color-red);
  transition-duration: 0.2s;
  filter: brightness(0) saturate(100%) invert(31%) sepia(65%) saturate(1903%) hue-rotate(332deg) brightness(86%) contrast(98%);
  transition-property: color;
}

#map.closebtn:hover {
  color: var(--color-red);
  transition-duration: 0.2s;
  filter: brightness(0) saturate(100%) invert(31%) sepia(65%) saturate(1903%) hue-rotate(332deg) brightness(86%) contrast(98%);
  transition-property: color;
}

#map.sidenav .closebtn {
  position: absolute;
  top: 2rem;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-bohomme {
  padding-left: 12.12rem;
}

#map.menu-logo-text h3 {
  padding: 0;
  display: inline;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
}


/* --- CITATIONS PAGE --- */
.citation-body ul {
  padding-left: 9.81rem;
  list-style: none;
  padding-right: 2rem;
}

.citation-body li {
  padding-right: 2rem;
  font-size: 1.25rem;
  list-style: none;
}

.citation-body h4 {
  color: var(--color-light-blue);
  padding-left: 8rem;
}

.citation-body h5 {
  padding-left: 5rem;
}

.citation-body img {
  flex-shrink: 0;
  display: flex;

  max-width: 90%;
  height: auto;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
}


#title h3 {
  margin-left: 7.25rem;
  color: var(--color-red);
  padding: 0;
  margin-top: 5.69rem;
}

.font-list li {
  font-size: 1rem;
  line-height: 200%;
  word-wrap: normal;
}

.code-list li {
  font-size: 1rem;
  line-height: 200%;
  overflow-wrap: break-word;
}

.copy-writing-list li {
  font-size: 1rem;
  line-height: 200%;
  overflow-wrap: break-word;
}

.inspiration-list li {
  font-size: 1rem;
  line-height: 200%;
}

#images-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0rem;

  padding-left: 1.5rem;
  /*padding-left: 15rem*/
}

#images-home h5 {
  padding-bottom: 2rem;
  /* padding-right: 1rem; */
  padding-left: 5rem;
}

.home-page-image {
  padding-left: 4rem;
  border: 0rem;

}

#images-popup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  /*padding-left(2.5rem, 15rem, 18rem);*/
  padding-left: 2.5rem;

}

#images-popup h5 {
  padding-bottom: 2rem;

}

#images-popup div {
  padding-left: 2rem;
}

#images-map-content-title h5 {
  text-align: right;
  padding-bottom: 2rem;
  padding-right: 8.56rem;
}

#images-map-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  /*padding-left: 15rem;*/
}

#images-map-content h5,
#images-map-content img {
  padding-bottom: 2rem;
  padding-left: 7rem;
}

#images-map-content h5 {
  margin-top: 4rem;
}

#images-map-content img {
  box-sizing: border-box;
}

#images-map-content div {
  padding-left: 2rem;
}

#images-map-title h5 {
  padding-bottom: 2rem;
  text-align: right;
  padding-right: 8.56rem;
}

#images-map {
  padding-left: 15rem;
  gap: 2rem;
}


#images-map h5 {
  padding-bottom: 2rem;
}

#icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  padding-left: 15rem;
}

#icons-title h4 {
  color: var(--color-white);
}

#icons div {
  padding: 2rem;
  border: 0;
}

#icons h5 {
  padding-bottom: 2rem;
  color: var(--color-white);
}